
.wrapper {
    text-align:center;
}

.stat-section {
    display:inline-block;
    margin: 50px 50px 0px;
}

.stat-section img {
    float: left;
    height: 50px;
}

.stat-section div {
    float: left;
    margin-left: 20px;
    text-align: left;
}

.stat-section h3 {
    font-size: 30px;
}

h2 {
    margin: 150px 0 5px;
    text-align: center;
    font-size: 30px;
}

.member {
    display:inline-block;
    margin: 40px 30px;
}

.member img {
    height: 100px;
}

.member h4 {
    margin-top: 5px;
    font-size: 20px;
}

.member p {
    margin-top: 3px;
}